<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreenParibet</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>sport.tab.name.live</string>
        <key>UIApplicationShortcutItemType</key>
        <string>ru.parimatch.ios.Live</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>ic_quick_side_live</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>sport.tab.name.prematch</string>
        <key>UIApplicationShortcutItemType</key>
        <string>ru.parimatch.ios.Line</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>ic_quick_side_line</string>
      </dict>
    </array>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <true/>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Доступ к локации</string>
    <key>DTPlatformVersion</key>
    <string>15.4</string>
    <key>DTSDKBuild</key>
    <string>19E239</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Доступ к камере</string>
    <key>CFBundleDisplayName</key>
    <string>Paribet</string>
    <key>DTXcodeBuild</key>
    <string>13E500a</string>
    <key>CFBundleIdentifier</key>
    <string>ru.parimatch.ios</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>FacebookDisplayName</key>
    <string>Paribet</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>sberpay</string>
      <string>yandexnavi</string>
      <string>comgooglemaps</string>
      <string>yandexmaps</string>
      <string>fbapi</string>
      <string>sparrow</string>
      <string>googlegmail</string>
      <string>x-dispatch</string>
      <string>readdle-spark</string>
      <string>airmail</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>ParibetIconNew20x20</string>
          <string>ParibetIconNew29x29</string>
          <string>ParibetIconNew40x40</string>
          <string>ParibetIconNew60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>ParibetIconNew</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>INAlternativeAppName</key>
    <string>Paribet</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>Allow us to use your activity data to configure personalized advertising campaigns</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>10.0</string>
    <key>CFBundleName</key>
    <string>Paribet</string>
    <key>CFBundleShortVersionString</key>
    <string>22.38</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>CeraPro-Bold.ttf</string>
      <string>CeraPro-Black.ttf</string>
      <string>CeraPro-Light.ttf</string>
      <string>CeraPro-Medium.ttf</string>
      <string>CeraPro-Regular.ttf</string>
      <string>CeraPro-Thin.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>Paribet</string>
    <key>Lokalise</key>
    <dict>
      <key>Project ID</key>
      <string>928564166227505406e313.06136657</string>
      <key>API Token</key>
      <string>6c48a3c99dccf236aabb8de1ca43679e8c513aec</string>
    </dict>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>NSAppleMusicUsageDescription</key>
    <string>Доступ к фото</string>
    <key>FacebookAppID</key>
    <string>360117249332200</string>
    <key>BuildMachineOSBuild</key>
    <string>21C52</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Доступ к календарю</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Доступ к микрофону</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Доступ к локации</string>
    <key>CFBundleVersion</key>
    <string>2243</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Face Id</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>ru.parimatch.ios</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>paribet</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb360117249332200</string>
        </array>
      </dict>
    </array>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Доступ к локации</string>
    <key>DTSDKName</key>
    <string>iphoneos15.4</string>
    <key>UIMainStoryboardFile~ipad</key>
    <string>Main</string>
    <key>DTPlatformBuild</key>
    <string>19E239</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
    </dict>
    <key>UILaunchStoryboardName~ipad</key>
    <string>LaunchScreenParibet_ipad</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Доступ к фото</string>
    <key>DTXcode</key>
    <string>1331</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>13F100</string>
  </dict>
</plist>
